@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

body {
    font-family: 'Noto Sans KR';
    -webkit-font-smoothing: antialiased;
}

header, nav {
    font-weight: 300;
}

section {
    font-weight: 500;
}

html, body, ul, dt, dd, p {
    margin: 0;
    padding: 0;
}

a {
    color: inherit;
    text-decoration: none;
    opacity: 0.8;
}

a:hover {
    opacity: 1;
}

.wrap {
    position: relative;
}

.head_menu {
    height: 60px;
    max-width: 1080px;
    margin: 0 auto;
    font-size: 14pt;
    font-weight: 400;
}

.logo_wrap {
    padding-left: 10px;
    float: left;
}

.fling_logo {
    /*background-image: url(../assets/img/temp_logo.png);
    background-repeat: no-repeat;
    background-size: contain;*/
    width: 65px;
    height: 65px;
}

.head_item {
    position: relative;
    padding-top: 16px;
    text-align: right;
}

.head_item > ul {
    margin-right: 30px;
    white-space: nowrap;
}

.head_item > ul > li {
    padding-right: 15px;
    padding-left: 15px;
    display: inline-block;
}

.navi :nth-child(4) {
    border-right: 0px;
}

.navi li a {
    font-size: 16px;
    color:#333;
}

.main_header {
    background-image: url(../assets/img/main_image.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 480px;
    color: white;
    text-align: center;
    position: relative;
}

.search_caret {
    background-color: white;
    height: 45px;
    width: 0.5px;
    position: relative;
    top: 269px;
    left: 200px;
}

.search_window {
    border-bottom: 3px solid white;
    width: 700px;
    margin: 0 auto;
    padding: 150px 10px 0 10px;
}

.search_text {
    width: 640px;
    height: 70px;
    font-size: 28pt;
    font-weight: 100;
    background: transparent;
    color: white;
    border: 0;
    outline: 0;
}

.search_icon_wrap {
    float: right;
    padding-top: 16px;
}

.search_icon {
    background-image: url(../assets/img/search_icon3x.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: Transparent;
    border: none;
    width: 40px;
    height: 40px;
}

.search_desc {
    display: inline-block;
    margin-top: 18px;
}

.heamuk_link {
    font-weight: 400;
    letter-spacing: -0.8pt;
    position: absolute;
    right: 35px;
    bottom: 20px;
}

.heamuk_link:after {
    padding-left: 12px;
    content: url(../assets/img/arrow_icon.png);
}

section {
    text-align: center;
}

.section_title {
    display: inline-block;
    margin-top: 50px;
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: 300;
}

.recommend_content_wrap {
    position: relative;
}

.recommend_content_list li {
    display: inline-block;
}

.recommend_content_list_node {
    width: 310px;
    height: 162px;
    background-color: #f9f9f9;
}

.recommend_number {
    float: left;
    width: 36px;
    height: 36px;
    background-color: #ffb742;
    color: white;
    font-weight: 700;
}

.recommend_number p {
    margin-top: 4px;
}

.recommend_content_list > li:not(:last-child) {
    padding-right: 20px;
}

.recommend_content_list dt {
    margin-top: 20px;
    font-weight: 400;
}

.recommend_content_list dd {
    font-weight: 100;
    color: #888;
    float: left;
    margin-left: 3px;
}

.slide_arrow.prev {
    background-image: url(../assets/img/left_arrow_icon.png);
    background-repeat: no-repeat;
    background-size: cover;
    left: 0;
}

.slide_arrow.next {
    background-image: url(../assets/img/right_arrow_icon.png);
    background-repeat: no-repeat;
    background-size: cover;
    right: 0;
}

.slide_arrow {
    position: absolute;
    top: 50px;
    width: 31px;
    height: 62px;
    display: inline-block;
}
footer.main_footer {
    margin-top: 80px;
    border-top: 1px solid #eee;
}

.footer_nav {
    padding: 18px 0 18px 0;
    text-align: center;
    font-size: 10pt;
    color: #666;
    border-bottom: 1px solid #eee;
    background: #f5f5f5;
}

.footer_nav > ul {
    list-style-type: none;
}

.footer_nav > ul > li {
    display: inline-block;
}

.footer_nav > ul > li:not(:last-child) {
    padding-right: 10px;
}

.footer_nav > ul > li:not(:last-child):after {
    content: '';
    border-right: 1px solid #ccc;
    margin-top: 2px;
    padding-left: 10px;
    font-size: 8pt;
}

.footer_main {
    width: 1080px;
    margin: 0 auto;
    padding: 40px 0 40px 0;
}

.footer_left {
    float: left;
}

.company_logo {
    float: left;
    width: 100px;
    height: 100px;
    margin-right: 20px;
    background: url(../assets/img/team_logo.png);
    background-size: cover;
}

.company_info {
    float: left;
    color: #666;
    font-weight: 300;
    font-size: 10pt;
    margin-bottom: 30px;
}

.company_copyright {
    clear: both;
    color: #333;
    font-size: 10pt;
    font-weight: 300;
}

.company_design_cr {
    font-size: 10pt;
    font-weight: 300;
    color: #777;
}

.footer_right {
    color: #666;
    text-align: right;
    padding-bottom: 10px;
}

.cs_title {
    font-size: 18pt;
    font-weight: 700;
    line-height: 1rem;
}

.cs_number {
    font-size: 35pt;
    font-weight: 700;
}

.cs_open_time {
    font-size: 14pt;
}

.cs_time_week > dt {
    display: inline-block;
    padding-right: 20px;
    font-weight: 500;
}

.cs_time_week > dd {
    display: inline-block;
    font-weight: 300;
}

.footer_sns {
    height: 40px;
}

.footer_sns > div {
    width: 40px;
    height: 40px;
    float: right;
    margin: 10px;
}

.sns_instagram {
    background: url(../assets/img/insta_logo.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.sns_facebook {
    background: url(../assets/img/facebook_logo.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.sns_twitter {
    background: url(../assets/img/twitter_logo.png);
    background-position-y: 4px;
    background-size: contain;
    background-repeat: no-repeat;
}

::-webkit-input-placeholder { 
      color: white;
}